.footer {
    background-color: #fcf8f8;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-style: italic
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

  }
  
  .link:hover {
    text-decoration: underline;
  }